<config>
    <modules>
        <Iterator_CieloCheckout>
            <version>1.0.0</version>
        </Iterator_CieloCheckout>
    </modules>
    <global>
        <models>
            <cielocheckout>
                <class>Iterator_CieloCheckout_Model</class>
            </cielocheckout>
        </models>
        <blocks>
            <cielocheckout>
                <class>Iterator_CieloCheckout_Block</class>
            </cielocheckout>
        </blocks>
        <helpers>
            <cielocheckout>
                <class>Iterator_CieloCheckout_Helper</class>
            </cielocheckout>
        </helpers>
    </global>

    <crontab>
        <jobs>
            <conferir_cielo>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>cielocheckout/cron::conferirCielo</model>
                </run>
            </conferir_cielo>
        </jobs>
    </crontab>

    <default>
        <payment>
            <cielocheckout>
                <model>cielocheckout/sale_cielocheckout</model>
                <active>1</active>
            </cielocheckout>
        </payment>
    </default>
</config>